<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>个人注册</title>
  <link rel="stylesheet" href="/assets/css/common.css">
  <link rel="stylesheet" href="/assets/css/page-account.css">
</head>

<body>
  <div class="register py-container ">
    <!--head-->
    <div class="logoArea"><a href="/home.html" class="logo"></a></div>
    <!--register-->
    <div class="registerArea">
      <h3>注册新用户<span class="go">我有账号，去<a href="/login.html">登陆</a></span></h3>
      <div class="info">
        <form action="/register" method="post" class="sui-form form-horizontal">
          <div class="control-group">
            <label class="control-label">用户名：</label>
            <div class="controls">
              <input type="text" name="username" class="input-xfat input-xlarge" placeholder="用户名" value="{{ username }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">邮箱：</label>
            <div class="controls">
              <input type="text" name="email" class="input-xfat input-xlarge" placeholder="邮箱"  value="{{ email }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" name="password">登录密码：</label>
            <div class="controls">
              <input name ="password" type="password" class="input-xfat input-xlarge" placeholder="设置登录密码">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">确认密码：</label>
            <div class="controls">
              <input type="password" name="confirm" class="input-xfat input-xlarge" placeholder="再次确认密码">
            </div>
          </div>
          <div class="control-group">
            <span class="control-label">&nbsp;</span>
            <label class="controls">
              <input name="agree" type="checkbox">
              <span>同意协议并注册《京东用户协议》</span>
              {{#if msg}}<p style="color: red">{{msg}}</p>{{/if}}
            </label>
          </div>
          <div class="control-group">
            <span class="control-label"></span>
            <div class="controls btn-reg">
              <button class="sui-btn btn-block btn-xlarge btn-danger" >完成注册</button>
            </div>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--foot-->
    <div class="Mod-copyright">
      <ul class="helpLink">
        <li>关于我们<span class="space"></span></li>
        <li>联系我们<span class="space"></span></li>
        <li>联系客服<span class="space"></span></li>
        <li>合作招商<span class="space"></span></li>
        <li>营销中心<span class="space"></span></li>
        <li>手机京东<span class="space"></span></li>
        <li>友情链接<span class="space"></span></li>
        <li>京东社区<span class="space"></span></li>
        <li>隐私政策<span class="space"></span></li>
        <li>京东公益<span class="space"></span></li>
        <li>English Site<span class="space"></span></li>
        <li>Contact Us<span class="space"></span></li>
      </ul>
      <p>互联网出版许可证编号新出网证(京)字150号|出版物经营许可证|网络文化经营许可证京网文[2014]2148-348号|违法和不良信息举报电话：4006561155</p>
      <p>京东旗下网站：京东钱包|京东云</p>
    </div>
  </div>
</body>

</html>
